@font-face {
  font-family: 'AvenirLTStd-Medium';
  src: url('/path-to/AvenirLTStd-Medium.woff2') format('woff2'),
       url('/path-to/AvenirLTStd-Medium.woff') format('woff'),
       url('/path-to/AvenirLTStd-Medium.ttf')  format('truetype');
}

body {
  font-family: 'AvenirLTStd-Medium', sans-serif;
}
